:root{
    --color-rosa: #F56476;
    --color-rosa-transparente: #F5647688;
}

body{
    font-family: "Poppins", sans-serif;
}

a.nav-link:hover {
    color: var(--color-rosa);
}

.header-container {
    height: 100vh;
    background-image: url(./imagenes/portada.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    overflow: hidden;
}

.header-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000AF;
    z-index: 0;
}

.header-text {
    z-index: 1;
    padding: 1rem;
}

.btn-glam-pink{
    background-color: var(--color-rosa);
    color: white;
    padding: 15px 50px;
    border-radius: 30px;
}
.btn-glam-pink:hover{
    background-color: #F5647688;
}

.list-group-item.active {
  background-color: var(--color-rosa);
  border-color: var(--color-rosa);
  color: white;
}

.list-group-item:hover{
  background-color: var(--color-rosa-transparente);
  border-color: #FFFFFF;
  cursor: pointer;
}

.list-group-item {
  transition: background-color 0.3s ease, border-color 0.3s ease;
}