.hero {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(2, 2, 11, 0.65);
}

.hero-container {
  position: relative;
  z-index: 2;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  gap: 60px;
  align-items: center;
}

.subtitle {
  font-size: 1.5rem;
  font-family: var(--font-body);
  margin-bottom: 10px;
  color: #fff;
}

.title {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  font-family: var(--font-title);
}

.title span {
  color: var(--pink-main);
}

.hero-divider {
  width: 70px;
  height: 3px;
  background: var(--pink-main);
  margin: 24px 0 32px;
  border-radius: 10px;
}


.hero-actions {
  display: flex;
  flex-direction: column;
  gap: 16px;
}





.hero-card {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(18px);
  border-radius: 24px;
  padding: 32px;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.25);
  transition: all 0.4s ease;
  color: #fff;
  border: 3px solid transparent;
}

.hero-card:hover {
  transform: translateY(-10px);
  box-shadow: var(--pink-medium);
  border-color: var(--pink-main);
}


.hero-card h3 {
  font-size: 1.6rem;
  margin-bottom: 20px;
}

.hero-card ul {
  list-style: none;
  padding: 0;
  margin-bottom: 24px;
}

.hero-card li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
  font-size: 1rem;
}


.hero-anim {
  opacity: 0;
  animation: heroFadeUp 0.8s ease forwards;
}


.delay-1 {
  animation-delay: 0.2s;
}

.delay-2 {
  animation-delay: 0.4s;
}

.delay-3 {
  animation-delay: 0.6s;
}

.delay-4 {
  animation-delay: 0.8s;
}

@keyframes heroFadeUp {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}



/*RESPONSIVE*/
@media (max-width: 992px) {
  .hero-container {
    grid-template-columns: 1fr;
    gap: 40px;
    text-align: center;
  }

  .hero-divider {
    margin: 24px auto 32px;
  }

  .hero-actions {
    align-items: center;
  }
}